@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('./assets/ocean.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 52px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 52px;
}

li {
    color: white;
    cursor: pointer;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
